body {
  font-size: 16px;
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
}

.main-header {
  padding-top: 50px;

  background: #eeeeee;
}
.slider {
  width: 880px;
  margin: 0 auto;
  position: relative;
}
.slide {
  min-height: 310px;
  background-repeat: no-repeat;
  background-position: 100% 10px;
}
.slider input[type="radio"] {
  display: none;
}
.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  margin-left: -100px;

  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;

  vertical-align: top;

  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slide-text {
  width: 500px;
  padding: 30px 0;
}
.slide-title {
  font-weight: 500;
  font-size: 36px;
}
.slide p {
  font-weight: 500;
  line-height: 22px;
  color: #283136;
}
.slide .btn {
  display: block;
  width: 220px;
  margin-top: 25px;
  padding: 12px 10px;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  background: #fb565a;
}
.slide:nth-child(1) {
  background-image: url("img/slider-bg.png");
}

.slide:nth-child(2) {
  background-image: url("img/slider-bg-2.png");
}

.slide:nth-child(3) {
  background-image: url("img/slider-bg-3.png");
}
.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}